@tailwind base;

@layer base {
  body {
    @apply font-Qicksand
    }
} ;

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
};
.animateSlideIn {
  animation: slideIn 0.5s ease-in-out;
};
@layer base {
  .transparent {
    -webkit-tap-highlight-color: transparent;
  }
}