@tailwind base;
@tailwind components;

@layer base {
  body {
    @apply font-Qicksand
    }
} ;

/*SIDEBAR */
@layer components {
    .hover:hover {
      @apply scale-x-125 scale-y-125 transition-all duration-300 ease-in-out font-extrabold ;
    }

/* SIDEBAR------------------ */
    .iconMenu {
      @apply mt-5 ml-5 fixed cursor-pointer text-[48px]   z-50  transparent
    }
    .iconClosse {
      @apply mt-5 ml-5 fixed cursor-pointer text-[48px]   z-50  transparent
    }
    .sidebar {
      @apply z-40 flex flex-col overflow-auto fixed xl:w-1/5 lg:w-1/5 w-full top-0 h-full items-center bg-BgGrey 
    }
/* PROFILE----------- */
    .profile {
      @apply font-PlayfairDisplay text-center flex flex-col items-center border-b-2 py-12;
    }
      .profileImage{
        @apply drop-shadow-2xl w-36 h-36 rounded-full mx-16 mb-6 border-solid border-2 hover:border-blue-500 cursor-pointer  border-gray-300;
      }
      .profileName {
        @apply font-Kanit mb-3 text-xl font-bold;
      }
      .profileSologan{
        @apply italic text-sm text-blue-400;
      }
/* NABVIGATION BAR-------  */
    .navbar {
      @apply mt-6 font-Kanit font-medium text-sm text-textBlack text-center cursor-pointer ;
    }
      .navbarItems{
        @apply border-b-0 py-3 flex justify-center items-center uppercase ;
      }
/*FOOTER NAVBAR--------- */
    .footerSb {
      @apply font-PlayfairDisplay text-xs text-center mt-40 opacity-60;
    }
    .footerAuther {
      @apply text-blue-700 underline
    }
}
/*CONTENT-------------------------------- */

/*HOME------------------*/
 .homepage {
  @apply font-Kanit -z-10
 }
 .slider{
  @apply  lg:bg-none md:bg-none sm:bg-none s:bg-none
 }
 .slider-item-1 {
  @apply inline-block text-left font-extrabold 
 }
 .responsive-item-1 {
  @apply absolute
    xl:top-[30%] xl:left-[40%]
    lg:top-[30%] lg:left-[30%]
    md:top-[30%] md:left-[30%]
    sm:top-[30%] sm:left-[30%]
    s:top-[30%] s:left-[30%];
 }

 /*ABOUT-----------*/
.about-text {
  animation : side-In-x 1s ease-in; 
  animation-fill-mode: forwards;
  animation-delay: 0.5s; 
}
 

/*EDUCATION*/



 

 .slider-item-2 {
  @apply inline-block text-left font-extrabold
 }
.responsive-item-2 {
  @apply absolute 
    xl:top-[30%] xl:left-[40%]
    lg:top-[30%] lg:right-[15%]  
    md:top-[30%] md:right-[15%]
    sm:top-[30%] sm:right-[15%]
    s:top-[30%] s:right-[15%]
}



/*ANIMATION*/

.about-shapes-item1{
  animation: side-In 1s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.about-shapes-item2{
  animation: side-In 1.3s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.about-shapes-item3{
  animation: side-In 1.6s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.about-shapes-item4{
  animation: side-In 1.9s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
 .slider {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider-item {
  opacity: 0;
  visibility: hidden;
  animation: fade-in-y 8s infinite;
}

.slider-item.active {
  opacity: 1;
  visibility: visible;
}

.slider-item:nth-child(1) {
  animation-delay: 0s;
}

.slider-item:nth-child(2) {
  animation-delay: 4s;
}

@keyframes fade-in-y {
  0%, 100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%); 
  }
  50% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%); 
  }
}

@keyframes side-In{
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%); 
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%); 
  }
}
@keyframes side-In-x{
  0% {
    visibility: hidden;
    transform: translateX(-100%); 
  }
  100% {
    visibility: visible;
    transform: translatex(0%); 
  }
}







@layer components {
  
}

@layer base {
  .transparent {
    -webkit-tap-highlight-color: transparent;
  }
}


