@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .navHover:hover {
     border-bottom-width: 2px;
     transform: scaleX(1.25) scaleY(1.25);
     transition-property: all;
     transition-duration: 300ms;
     transition-timing-function: ease-in-out;
     font-weight: 800;
   }
   .leftSide {
     display: flex;
     flex-direction: column; 
     height: 100%;
     align-items: center;
     background-color: var(--BgGrey);
     padding-top: 11px;
   }
 }
 